.nav-background {
    background-color: white;
}

.search-section {
    background-color: white;
}

.offer-section {
    background-color: #b3edff;
}

.photo-section {
    background-color: white;
}

.footer-section {
    background-color: #b3edff;
}

.slide-1 {
    background-image: url("../../img/index/cover1.jpg");
    width: auto;
    height: auto;
    background-size: cover;
}

.slide-2 {
    background-image: url("../../img/index/cover2.jpg");
    width: auto;
    height: auto;
    background-size: cover;
}

.slide-3 {
    background-image: url("../../img/index/cover3.jpg");
    width: auto;
    height: auto;
    background-size: cover;
}

.slide-4 {
    background-image: url("../../img/index/cover4.jpg");
    width: auto;
    height: auto;
    background-size: cover;
}

.slide-5 {
    background-image: url("../../img/index/cover5.jpg");
    width: auto;
    height: auto;
    background-size: cover;
}

.slide-content {
    text-align: center;
}

.offer-head {
    color: #fff;
}

.brand-text {
    color: deepskyblue;
}

.btn-outline-light:hover {
    color: #fff;
    background-color: rgba(0, 191, 255, 0.57);
    border-color: rgba(0, 191, 255, 0.8);
}

.btn-outline-primary {
    color: rgba(0, 191, 255, 0.8);
    background-color: white;
    border-color: white;
}

.btn-outline-primary:hover {
    color: white;
    background-color: rgba(0, 191, 255, 0.5);
    border-color: rgba(0, 191, 255, 0.8);
}

.btn-primary {
    color: #fff;
    background-color: rgba(0, 191, 255, 0.8);
    border-color: rgba(0, 191, 255, 0.8);
}

.btn-primary:hover {
    color: white;
    background-color: rgba(0, 191, 255, 0.5);
    border-color: rgba(0, 191, 255, 0.8);
}

.btn-success {
    color: #fff;
    background-color: rgba(32, 224, 36, 0.8);
    border-color: rgba(33, 235, 37, 0.8);
}

.btn-success:hover {
    color: white;
    background-color: rgba(33, 235, 37, 0.5);
    border-color: rgba(32, 224, 36, 0.8);
}

.btn-danger {
    color: #fff;
    background-color: rgba(220, 0, 21, 0.8);
    border-color: rgba(246, 0, 21, 0.8);
}

.btn-danger:hover {
    color: white;
    background-color: rgba(246, 0, 21, 0.5);
    border-color: rgba(220, 0, 21, 0.8);
}

.padding-div {
    text-align: center;
    padding: 25px;
}

.photo-show-case {
    text-align: center;
    width: auto;
    overflow: hidden;
}

.visit-album {
    height: 80%;
    opacity: 0.6;
}

.visit-album:hover {
    opacity: 1;
}

.center {
    text-align: center;
}

.footer {
    text-align: center;
    margin: auto;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 10pt;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(0, 127, 179)
}

button a:hover {
    color: white;
}

.socialmediaicons ul {
    margin-top: 0.5%;
    padding: 0;
    list-style: none;
}

.socialmediaicons ul li {
    display: inline-block;
    margin-left: 5px;
}

.socialmediaicons ul li img {
    width: 25px;
}

.socialmediaicons {
    text-align: center;
}

.btn {
    cursor: pointer;
}

.nav-item {
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar-brand {
    cursor: pointer;
}

@media (max-width: 1024px) {

    #team-link {
        display: none;
    }

}
