.profile-head {
    height: 400px;
    background-image: url("../../img/backgrounds/profile.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.profile-header {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10%;
    padding: 0;
}

#content_middle_position {
    position: relative;
    float: left;
    width: 46%;
}

#content_inside {
    position: relative;
    padding: 25px;
}

#content_inside img {
    position: relative;
}

h4, h3 {
    margin: 0;
}

input, textarea {
    font-size: 10pt;
    font-family: Arial, sans-serif;
}

#banner {
    background-color: inherit;
    color: #ffffff;
    height: 7.5em;
}


a.homelink1,
a.homelink1:hover,
a.homelink1:link,
a.homelink1:visited,
#banner h1 {
    color: #FFFFFF;
    background-color: inherit;
    font-family: Arial, sans-serif;
    font-size: 16pt;
    padding: 1em 0em 0em 0em;
    margin: 0px;
    text-decoration: none;
}

a.homelink2,
a.homelink2:hover,
a.homelink2:link,
a.homelink2:visited,
#banner h2 {
    color: #FFFFFF;
    background-color: inherit;
    padding: 0em;
    font-size: 12pt;
    font-style: italic;
    margin: 0px;
    text-decoration: none;
}

.entry_title {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 10px;
    color: #000000;
    background-color: inherit;
}

.entry_title a:link,
.entry_title a:visited {

    text-decoration: none;
    border: 0;
    color: #000000;
    background-color: inherit;
}

.entry_title a:hover {
    background-color: inherit;
    color: #000066;
    text-decoration: none;
}

.entry {
    font-family: Arial, sans-serif;
    font-size: 11pt;
    font-weight: normal;
    line-height: 150%;

}

.entry a:link, .entry a:visited {
    color: #3366ff;
}

.entry a:hover {
    color: #000066;
}

.entry img {
    border: 0px
}

.entry_date {
    font-family: Arial, sans-serif;
    font-size: 9pt;
    margin: 20px 0px;
    text-align: left;
    font-weight: bold;
    color: #a9a9a9;
}

div.entryFooter {
    font-family: Arial, sans-serif;
    font-size: 9pt;
    color: #a9a9a9;
    background-color: inherit;

    padding: 4px;
    clear: both;
    margin-top: 1em;
    margin-bottom: 3em;
}

div.SideBarItem {
    padding-bottom: 12px;
    margin-bottom: 2em;
    font-size: 12px;
    font-weight: normal;
    line-height: 150%;
    color: #fff;
}

div.SideBarItem a:hover {
    color: #6699ff;
}

div.SideBarItem img {
    border: 0px;
}

.SideBarTitle {
    color: black;
    background-color: inherit;
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
    margin: 10px 10px;
    padding-bottom: 10px;
}

.imageComment_center,
.imageComment_left,
.imageComment_right {
    position: relative;
    /*border: 1px solid #DDDDDD;*/
    color: black;
    background-color: #f5f5f5;
    margin: 3px;
    padding: 3px;
    text-align: center;
}

.imageComment_center a img,
.imageComment_left a img,
.imageComment_right a img {
    border: 0px
}

.imageComment_left {
    float: left;
    margin-right: 10px;
}

.imageComment_right {
    margin-left: 10px;
    float: right;
}

.imageComment_center {
    margin: auto;
}

.imageComment_img,
.imageComment_img img {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.imageComment_txt {
    border-top: 1px solid #DDDDDD;
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: 10pt;
    text-align: center;
}

.credit_footer {
    clear: both;
    margin: 1em;
    width: auto;

    font-size: .75em;
    text-align: center;
}

.credit_footer a, .credit_footer a:visited {
    text-decoration: underline;
    color: #000;
}

.nav-background-home {
    background-color: #f5f5f5;
}

.btn-info {
    width: 60px;
    cursor: pointer;
    border-color: #66ccff;
    background-color: #66ccff;
}

.btn-danger {
    width: 60px;
    cursor: pointer;
    border-color: #ff5c33;
    background-color: #ff5c33;
}

.btn-success {
    width: 60px;
    cursor: pointer;
    border-color: #85e085;
    background-color: #85e085;
}

#postButton {
    width: 200px;
    height: 35px;
    cursor: pointer;
}

.post_content {
    padding-top: 2%;
    padding-left: 2%;
    color: #606060;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 35px;
}

/*@media (max-width: 1024px) {*/

    /*.profile-head{*/
        /*background-image: none;*/
        /*background-color: rgba(0, 191, 255, 0.5);;*/
    /*}*/

/*}*/